negro = #000
blanco = #fff
gris_claro = #ddd
azul = #0080FF
body
	margin 0 auto
	padding 0
	font-size 18px
	font-family 'Della Respira' serif
	max-width 1024px
	nav 
		ul 
			margin 0
			padding 0
			overflow-x auto 
			white-space nowrap
			&::-webkit-scrollbar
				display none
			    background-color azul
			li
				display inline-block
				margin 0
				padding 0.4em 0
				&:hover
					background-color rgba(0, 0, 0, 0.1)
				a
					text-decoration none
					padding 0em 0.8em
					color blanco
				&:first-child 
					background-color gris_claro
					position relative
					a
						color azul
						font-weight bold
					&:after
						content ""
						position absolute
						top 0
						left 100%
						border-top 18px solid transparent
						border-bottom 18px solid transparent
						border-left 18px solid gris_claro
						border-right 18px solid transparent
	#navegador_secundario
		margin 0
		padding 0
		overflow-x auto
		white-space nowrap
		background-color gris_claro
		&::-webkit-scrollbar
			display none
		li
			display inline-block
			margin 0
			padding 0.4em 0
			position relative
			&:hover
				background-color rgba(0, 0, 0, 0.1)
			&:first-child
				padding-left 1.5em
				background-color azul
				a
					color blanco
					font-weight bold
				&:after
							content ""
							position absolute
							top 0
							left 100%
							border-top 18px solid transparent
							border-bottom 18px solid transparent
							border-left 18px solid azul
							border-right 18px solid transparent
				&:before
							content ""
							position absolute
							top 0%
							left 5%
							border-top 18px solid gris_claro
							border-bottom 18px solid transparent
							border-left 18px solid transparent
							border-right 18px solid transparent
			a
				text-decoration none
				padding 0em 1em
				color azul
	footer
		background-color gris_claro
		text-align center
		ul
			margin 0
			padding 0
			overflow-x auto
			white-space nowrap
			li
				display inline-block
				list-style none
				padding 0.5em
				a
					color negro
					text-decoration none
					padding 0 0.5em
	.bxslider
		padding 0
		margin 0
	aside
		article
			margin 4em 2em 4em 2em
			padding 0
			min-height 128px
			position relative
			figure
				width 60px
				margin 0
				padding 0
				position absolute
				top -30px
				right -25px
				img
					width 100%
					border-radius 50%
					border 4px solid azul
					box-shadow 0 0 25px azul
			div
				box-shadow 0 0 5px negro
				border-radius 5px
				padding 0.5em
				background-color gris_claro
				h3
					font-size 1em
					margin-left 0
					margin-top 0
					text-transform uppercase
					text-shadow 0 0 2px azul
				p
					text-align justify
					font-size 0.9em
			&:nth-child(odd)
				margin 4em 2em 4em 2em
				padding 0
				min-height 128px
				position relative
				figure
					width 60px
					margin 0
					padding 0
					position absolute
					top -30px
					left -30px
					img
						width 100%
						border-radius 50%
						border 4px solid azul
						box-shadow 0 0 25px azul
				div
					box-shadow 0 0 5px negro
					border-radius 5px
					padding 0.5em
					background-color gris_claro
					h3
						font-size 1em
						margin-left 2.5em
						margin-top 0
						text-transform uppercase
						text-shadow 0 0 2px azul
						text-align right
					p
						text-align justify
						font-size 0.9em
@media screen and (min-width: 720px)
	body
		aside
			article
				margin 4em
				figure
					width 120px
					top -40px
					right -50px
				div
					h3
						font-size 1.5em
				&:nth-child(odd)
					margin 4em
					figure
						width 120px
						left -60px
						top -40px
					div
						h3
							font-size 1.5em	





